<!-- FOOTER -->
<div class="footer-wrapper style-9">
    <footer class="type-2">
        <div class="position-center">
            <img alt="" src="./../assets/images//logo.png" class="footer-logo">
            <div class="socials-box">
                <a target="_blank" href="https://www.facebook.com/LappTienda/?fref=ts"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://twitter.com/LappTienda"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://www.instagram.com/lapptienda_saludable/"><i class="fa fa-instagram"></i></a>
                <div class="clear"></div>
            </div>
            <div class="footer-links">
                <!--a href="#">Site Map</a>
                <a href="#">Search</a-->
                <a href="/politicas" target="_blank">Términos y condiciones</a>
                <!--a href="#">Advanced Search</a-->
                <a href="https://lapptienda.wordpress.com" target="_blank">Blog</a>
                <a href="mailto:tescuchamos@lapptienda.com" target="_top">Contáctenos</a>
            </div>
            <div class="footer-links">
                Contacto (+57) 3196864913 - tescuchamos@lapptienda.com - Medellín / Colombia
            </div>
            <div class="copyright">Created with by APP97 S.A.S
                <a href="#"></a>. All right reserved</div>
        </div>
    </footer>
</div>