<div class="wide-center fixed-header-margin" style="margin-top:200px;">
    <div class="breadcrumb-box">
        <a href="/">Home</a>
        <a ui-sref="orders">Mis pedidos</a>
        <a href="#">Detalle</a>
    </div>
    <div class="information-blocks">
        <div class="tabs-container style-1">
            <div class="swiper-tabs tabs-switch">
                <div class="list">
                    <div class="list">
                        <a class="tab-switcher active">RESUMEN</a>
                        <a class="tab-switcher">PRODUCTOS</a>
                        <a class="tab-switcher">MENSAJES (25)</a>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="orders--tabs">
                <div class="tabs-entry">
                    <div class="article-container style-1">
                        <div class="row">
                            <div class="col-md-6 information-entry">
                                <h4>CLIENTE</h4>
                                <p>Se presenta información detallada del cliente</p>
                                <ul>
                                    <li>Nombre: {{order.detail.client.name}}</li>
                                    <li>E-mail: {{order.detail.client.email}}</li>
                                    <li>Teléfono: {{order.detail.client.phoneNumber}}</li>
                                    <li>Customer Personal Products - upload text for embroidery, monogramming</li>
                                    <li>Create Store-specific attributes on the fly</li>
                                </ul>
                            </div>
                            <div class="col-md-6 information-entry">
                                <h4>Domiciliario</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                <ul>
                                    <li>Nombre: {{order.detail.employee.name}}</li>
                                    <li>E-mail: {{order.detail.employee.email}}</li>
                                    <li>Teléfono: {{order.detail.employee.phoneNumber}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-entry">
                    <div class="article-container style-1">
                        <div class="row">
                            <div class="col-md-6 information-entry" ng-repeat="product in order.detail.products">
                                <h4>{{product.product.name}} x {{product.product.quantity}} {{product.product.unitMeasure}}</h4>
                                <p>Facturación</p>
                                <ul>
                                    <li>Precio: {{product.price.value | currency:"$":0 }}</li>
                                    <li>Cantidad: {{product.quantity}}</li>
                                    <li>Subtotal: {{product.subtotal | currency:"$":0 }}</li>
                                    <li>Descuento: {{product.discounts | currency:"$":0 }}</li>
                                    <li>Última actualización del pedido: {{product.updatedAt | date}}</li>
                                </ul>
                                <div ng-if="product.promotion">
                                    <p>Info Promoción</p>
                                    <ul>
                                        <li>Valor: {{product.promotion.value}} {{product.promotion.type}}</li>
                                        <li>Cupón: {{product.promotion.coupon}} </li>
                                        <li>Válido hasta: {{product.promotion.endValidityDate | date}} </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="row">
                            <div class="col-md-6 information-entry">
                                <h4>Actualizado en {{order.detail.updatedAt | date}}</h4>
                                <ul>
                                    <li>Costo de Entrega: {{order.detail.deliveryCost | currency:"$":0}} </li>
                                    <li>Total Descuentos: {{order.detail.totalDiscounts | currency:"$":0}} </li>
                                    <li>Total a pagar: {{order.detail.total | currency:"$":0}} </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tabs-entry">
                    <div class="article-container style-1">
                        <div class="row">
                            <div class="col-md-6 information-entry">
                                <h4>MENSAJES</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                                <ul>
                                    <li>Any Product types that You want - Simple, Configurable</li>
                                    <li>Downloadable/Digital Products, Virtual Products</li>
                                    <li>Inventory Management with Backordered items</li>
                                    <li>Customer Personal Products - upload text for embroidery, monogramming</li>
                                    <li>Create Store-specific attributes on the fly</li>
                                </ul>
                            </div>
                            <div class="col-md-6 information-entry">
                                <h4>SHIPPING</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                <ul>
                                    <li>Any Product types that You want - Simple, Configurable</li>
                                    <li>Downloadable/Digital Products, Virtual Products</li>
                                    <li>Inventory Management with Backordered items</li>
                                    <li>Customer Personal Products - upload text for embroidery, monogramming</li>
                                    <li>Create Store-specific attributes on the fly</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="row">
            <div class="col-sm-12">
                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" heading="Resumen">Justified content</uib-tab>
                    <uib-tab index="1" heading="Productos">Short Labeled Justified content</uib-tab>
                    <uib-tab index="2" heading="Mensajes">Long Labeled Justified content</uib-tab>
                </uib-tabset>
            </div>
        </div-->
    </div>
</div>