<div class="account-container container" style="margin-top: 200px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="text-align: center; font-size: 2em; color: #ef7e39;">
                MIS DOMICILIOS
                <a ng-show="!account.showForm" class="pull-right glyphicon glyphicon-plus" ng-click="account.addAddress()"></a>
                <a ng-show="account.showForm && account.addressesList" class="pull-right glyphicon glyphicon-th-list" ng-click="account.showAddresses()"></a>
            </h3>
        </div>
    </div>
    <div class="table-container" ng-if="account.addressesList && !account.showForm" style="margin-bottom: 25px;">
        <table class="table" style="background: white">
            <tbody>
                <tr ng-repeat="address in account.addressesList" data-id="{{address.id}}">
                    <td>
                        <div class="media">
                            <div class="media-body">
                                <strong style="font-weight: 600; font-size: large;">{{address.notes}}</strong>
                                <h4 class="title">
                                    <a class="pull-right glyphicon glyphicon-trash" ng-click="account.deleteAddress(address.id, address.notes)"></a>
                                </h4>
                                <p class="summary">
                                    <span class="pull-left glyphicon glyphicon-earphone"> {{ address.phoneNumber}}</span>
                                </p>
                                <br>
                                <p class="summary">
                                    {{ address.mainAddress | address}}
                                </p>
                                <p class="summary">
                                    {{ address.type}}
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="account.showForm" style="margin-bottom: 25px;">
        <form id="accountForm" name="accountForm" class="form-horizontal" ng-submit="account.SaveAddress(account.address);">
            <div class="tab-pane " id="basic-info" style="margin-top: 2em;">
                <div class="form-group required">
                    <label class="col-md-3 control-label pull-left label-input" for="account.address.notes">
                        Nombre de Dirección
                    </label>
                    <input ng-model="account.address.notes" name="address-notes" type="text" class="form-control input-md input-form" ng-required="true">
                </div>
                <div class="form-group required">
                    <label class="col-md-4 control-label pull-left label-select" for="account.address.dir_0">
                        Dirección
                    </label>
                    <div class="col-md-2">
                        <select class="form-control input-md" name="address-dir_0" ng-model="account.address.dir_0" ng-required="true">
                            <option value="Calle">Calle</option>
                            <option value="Avenida" selected>Avenida</option>
                            <option value="Carrera">Carrera </option>
                            <option value="Circular">Circular</option>
                            <option value="Transversal">Transversal</option>
                            <option value="Circunvalar">Circunvalar</option>
                            <option value="Via">Vía</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input ng-model="account.address.dir_1" name="address-dir_1" type="text" class="form-control input-md" ng-required="true" style="text-transform:uppercase">
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-md-4 pull-left control-label label-input" style="padding-bottom: 13px;" for="account.address.dir_2">
                        #
                    </label>
                    <div class="col-md-2">
                        <input ng-model="account.address.dir_2" name="address-dir_2" type="text" class="form-control input-md" ng-required="true" style="text-transform:uppercase">
                    </div>
                    <div class="col-md-1 label-input" style="width: 0;">
                        _
                    </div>
                    <div class="col-md-2">
                        <input ng-model="account.address.dir_3" name="address-dir_3" type="text" class="form-control input-md" ng-required="true" style="text-transform:uppercase">
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-md-4 control-label pull-left label-input" for="account.address.type">
                        Indicaciones
                    </label>
                    <div class="col-md-5">
                        <input class="form-control input-md input-form" ng-model="account.address.type" placeholder="Edificio, Unidad, Torre..." name="address-type" type="text" ng-required="true">
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-md-4 pull-left control-label label-input" for="account.address.phoneNumber">
                        Teléfono
                    </label>
                    <div class="col-md-5">
                        <input class="form-control input-md input-form" ng-model="account.address.phoneNumber" name="address-phoneNumber" type="text" ng-required="true">
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-md-4 control-label pull-left label-input" for="account.address.contactName">
                        Nombre del Contacto
                    </label>
                    <div class="col-md-5">
                        <input class="form-control input-md input-form" ng-model="account.address.contactName" name="address-contactName" type="text" required="">
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: 15px;">
                <div class="col-xs-5 col-xs-offset-3 col-md-4 col-md-offset-4">
                    <button id="singlebutton" name="singlebutton" class="button style-10" type="submit"> 
                    Añadir Dirección
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>