<div class="register-container container" style="margin-top: 200px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="font-family: cursive; text-align: center; font-size: 2em; color: #ef7e39;">
                Registro
            </h3>
        </div>
    </div>
    <form id="accountForm" name="registerForm" class="" ng-submit="register.SaveClient(register.client, register.adresses);">
        <div class="tab-pane active" id="basic-info" style="margin-top: 2em;">
            <div class="form-group required">
                <label class="col-md-2 control-label label-input" for="register.client.name">
                    Nombre Completo
                </label>
                <input id="clientName" ng-model="register.client.name" name="clientName" type="text" placeholder="Nombre y apellido" class="form-control input-md input-form" ng-required="true">
            </div>
            <div class="form-group required">
                <label class="col-md-2 control-label label-input" for="register.client.phoneNumber">
                    Teléfono
                </label>
                <input id="client-phoneNumber" ng-model="register.client.phoneNumber" name="client-phoneNumber" type="text" placeholder="Teléfono" class="form-control input-md input-form" ng-required="true">
            </div>
            <div class="form-group required">
                <label class="col-md-2 control-labe label-input" for="register.client.birthDate" style="">
                    Fecha de Nacimiento
                </label>
                <input uib-datepicker-popup="yyyy-MM-dd" ng-click="register.open()" class="form-control input-md date-form" name="fecha" ng-model="register.client.birthDate" is-open="register.opened" min-date="'1900-01-01'" max-date="'2099-12-31'" ng-required="true"
                    show-button-bar="false" />
                <!-- datepicker-options="register.dateOptions" date-disabled="disabled(date, mode)" -->
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label label-input" for="register.client.gender">
                    Género
                </label>
                <select placeholder="Género" class="form-control label-input select-form" ng-model="register.client.gender">
                        <option value="1" selected>Femenino</option>
                        <option value="0">Masculino</option>
                    </select>
            </div>
            <div class="form-group required">
                <label class="col-md-2 control-label label-input" for="register.client.email">
                    Email
                </label>
                <input id="email-client" ng-model="register.client.email" name="email-client" type="email" placeholder="Correo Electrónico" class="form-control input-md input-form" ng-required="true">
            </div>
            <div class="form-group required" ng-hide="register.fb == true">
                <label class="col-md-2 control-label label-input" for="register.client.password">
                    Contraseña
                </label>
                <input id="client-password" ng-model="register.client.password" name="client-password" type="password" placeholder="Contraseña" class="form-control input-md input-form" ng-required="true">

            </div>
        </div>
        <div class="form-group" style="margin-top: 15px;">
            <div class="col-xs-5 col-xs-offset-3 col-md-4 col-md-offset-4">
                <button id="singlebutton" name="singlebutton" class="button style-10" type="submit"> <!-- ng-disabled="registerForm.$invalid" -->
                  Registrarse
                </button>
            </div>
        </div>
    </form>
</div>
<!--<div class="tab-pane" id="client-adresses" style="margin-top: 2em;">
            <div class="form-group">
              <label class="col-md-4 control-label" for="client-mainAdress">Dirección</label>
              <div class="col-md-5">
                <input id="client-mainAdress" ng-model="register.adresses.mainAdress" name="client-mainAdress" type="text" placeholder="Dirección"
                  class="form-control input-md">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" for="client-landMark">Sector/Barrio</label>
              <div class="col-md-5">
                <input id="client-landMark" ng-model="register.adresses.landMark" name="client-landMark" type="text" placeholder="Sector/Barrio"
                  class="form-control input-md">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" for="client-notes">Notas</label>
              <div class="col-md-5">
                <input id="client-notes" ng-model="register.adresses.notes" name="client-notes" type="text" placeholder="Notas" class="form-control input-md">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" for="client-type">Tipo</label>
              <div class="col-md-5">
                <input id="client-type" ng-model="register.adresses.type" name="client-type" type="text" placeholder="Tipo" class="form-control input-md">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" for="client-adressPhone">Número de teléfono</label>
              <div class="col-md-5">
                <input id="client-adressPhone" ng-model="register.adresses.adressPhone" name="client-adressPhone" type="text" placeholder="Número de teléfono"
                  class="form-control input-md">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" for="contact-name">Nombre del contacto</label>
              <div class="col-md-5">
                <input id="contact-name" ng-model="register.adresses.contactName" name="contact-name" type="text" placeholder="Nombre del contacto"
                  class="form-control input-md">
              </div>
            </div>
          </div>
        </div>-->