<div class="wide-center fixed-header-margin" style="margin-top:200px;">
    <div class="breadcrumb-box">
        <a href="#">Home</a>
        <a href="#">Checkout</a>
    </div>
    <div class="information-blocks">
        <div class="row">
            <div class="col-sm-9 information-entry">
                <div class="accordeon size-1">
                    <div class="accordeon-title active">
                        <span class="number">1</span>Inicio de sesión
                        <label class="glyphicon" ng-class="checkout.step1"></label>
                    </div>
                    <div class="accordeon-entry">
                        <div class="row">
                            <div class="col-md-6 information-entry">
                                <div class="article-container style-1">
                                    <h3>Inicia sesión o registrarse como cliente</h3>
                                    <p>
                                        Si aún no tienes una cuenta en nuestra plataforma
                                    </p>
                                    <a ui-sref="login" class="button style-10">Iniciar sesión</a>
                                    <a ui-sref="register" class="button style-10">Registrarse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordeon-title">
                        <span class="number">2</span>Datos de facturación
                        <label ng-show="checkout.clientName !=='' && checkout.clientEmail !==''" class="glyphicon glyphicon-ok"></label>
                        <label ng-hide="checkout.clientName !=='' && checkout.clientEmail !==''" class="glyphicon glyphicon-remove"></label>
                    </div>
                    <div class="accordeon-entry">
                        <div class="article-container style-1">
                            <form>
                                <div class="form-group">
                                    <span for="name">Nombre</span>
                                    <input type="text" class="form-control" id="name" placeholder="Nombre" ng-model="checkout.clientName">
                                </div>
                                <div class="form-group">
                                    <span for="email">Email</span>
                                    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="checkout.clientEmail">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="accordeon-title">
                        <span class="number">3</span> ¿Tiene un cupón? Haga clic aquí para escribir el código
                        <label ng-show="checkout.couponRegistered" class="glyphicon glyphicon-ok"> </label>
                    </div>
                    <div class="accordeon-entry">
                        <div class="article-container style-1">
                            <form class="checkout_coupon" method="post" style="display: block;">
                                <p class="form-row form-group form-row-first">
                                    <span class="input-desc" for="coupon_code">Código de cupón</span>
                                    <input type="text" name="coupon_code" ng-model="checkout.coupon" class="input-text form-control" placeholder="Código" id="coupon_code">
                                </p>
                                <p class="form-row form-group form-row-last">
                                    <input type="submit" class="button style-10" name="apply_coupon" ng-click="checkout.applyCoupon()" value="Aplicar Cupón">
                                </p>
                                <div class="clear"></div>
                            </form>
                        </div>
                    </div>
                    <div class="accordeon-title">
                        <span class="number">4</span>Dirección de envío
                        <label class="glyphicon" ng-class="checkout.step4"></label>
                    </div>
                    <div class="accordeon-entry">
                        <div class="article-container style-1">
                            <h4 ng-if="checkout.addressesList">Seleccione alguna de sus direcciones</h4>
                            <div ng-if="!checkout.addressesList">
                                <h4>No tiene direcciones registradas...</h4> <a ui-sref="account">registrar ahora</a></div>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success" ng-class="address.active" ng-click="checkout.setAddress(address)" style="color: black" ng-repeat="address in checkout.addressesList">
                                    <h4 class="list-group-item-heading">{{address.notes}}</h4>
                                    <p class="list-group-item-text">
                                        {{address.mainAddress|address}}
                                    </p>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="accordeon-title">
                        <span class="number">5</span>Horario de entrega
                        <label class="glyphicon" ng-class="checkout.step5"></label>
                    </div>
                    <div class="accordeon-entry">
                        <div class="article-container style-1">
                            <h4>Escoge el tiempo de entrega aproximado de tu pedido</h4>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success" ng-class="schedule.active" ng-click="checkout.setSchedule(schedule)" style="color: black" ng-repeat="schedule in checkout.schedulesCtr">
                                    <h4 class="list-group-item-heading">{{schedule.cuando}}</h4>
                                    <p class="list-group-item-text">
                                        {{schedule.dateTime | date: 'yyyy-MM-dd h:mma'}}
                                        <span style="padding-left: 98%;">$0</span>
                                    </p>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="accordeon-title"><span class="number">6</span>Revisión del pedido</div>
                    <div class="accordeon-entry">
                        <div class="article-container style-1">
                            <table class="table table-responsive shop_table woocommerce-checkout-review-order-table">
                                <thead style="color: rgb( 239, 125, 56);">
                                    <tr>
                                        <th class="product-name">Producto</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item" ng-repeat="product in checkout.products">
                                        <td class="product-name">
                                            {{product.name}}
                                            <strong class="product-quantity">× {{product.quantityToAdd}}</strong>
                                        </td>
                                        <td class="product-total">
                                            <span class="amount">{{(product.value * product.quantityToAdd) | currency:"$":0}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td><span class="amount">{{checkout.subtotal | currency:"$":0}}</span></td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>Costo de Envío</th>
                                        <td>
                                            <p>{{"0.0" | currency:"$":0}}</p>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td><strong><span class="amount">{{$root.cart.subTotal | currency:"$":0}}</span></strong> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <table class="table table-responsive shop_table woocommerce-checkout-review-order-table">
                            <thead style="color: rgb( 239, 125, 56);">
                                <tr>
                                    <th class="product-name">Dirección de Envío</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart_item">
                                    <td class="product-total">
                                        <span class="amount">
                                            <strong style="font-weight: 600; font-size: large;">{{checkout.establishedAddress.notes}}</strong>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-total">
                                        <span class="pull-left glyphicon glyphicon-earphone"> {{ checkout.establishedAddress.phoneNumber}}</span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-total">
                                        {{ checkout.establishedAddress.mainAddress | address}}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="order-total">
                                    <th>{{ checkout.establishedAddress.type}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="accordeon-title"><span class="number">7</span>Método de pago</div>
                <div class="accordeon-entry">
                    <div class="article-container style-1">
                        <div id="payment" class="woocommerce-checkout-payment">
                            <label class="checkbox-entry radio">
                                  <input type="radio" name="custom-name" checked />
                                  <span class="check"></span> <b>Efectivo</b>
                            </label>
                            <!--label class="checkbox-entry radio">
                                  <input type="radio" name="custom-name" />
                                  <span class="check"></span> <b>Tarjeta de Credito</b>
                                </label-->
                            <div class="form-row place-order">
                                <center>
                                    <div vc-recaptcha class="g-recaptcha" key="" ng-model="checkout.recaptchaResponse"> </div>
                                </center>
                                <a class="button style-10" ng-click="checkout.post()">Confirmar pedido</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="col-sm-3 information-entry" ng-controller="ShopCategoriesController as shop">
            <div class="sidebar-navigation">
                <div class="title">Categorias<i class="fa fa-angle-down"></i></div>
                <div class="list">
                    <a ng-repeat="catalog in shop.catalogs" class="entry" ng-click="shop.events.getSubCategory(catalog.id)" data-id="{{catalog.id}}">
                        <span><i class="fa fa-angle-right"></i>{{catalog.name}}</span>
                    </a>
                </div>
            </div>
        </div-->
    </div>
</div>